<section id="gallery" class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="gallery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="gallery__title text-center">Gallery</h2>
            </div>
            <div class="gallery__block">
                <div class="gallery__block_first"></div>
                <div class="gallery__block_second"></div>
                <div class="gallery__block_three"></div>
                <div class="gallery__block_four"></div>
                <!-- <img src="img/gallery1.jpg" alt="">
                <img src="img/gallery2.jpg" alt="">
                <img src="img/gallery3.jpg" alt="">
                <img src="img/gallery4.jpg" alt=""> -->
            </div>
        </div>
    </div>

</section>