.gallery {
    &__line {
        border: 1px solid rgb(165, 165, 165);
        margin-top: -1px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        margin-top: 50px;
    }

    &__block {
        // display: flex;
        // height: 300px;
        // width: 25%;

        &_first{
            background-image: url('../img/gallery1.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

}